ARISE_REDIS_HOST=localhost
ARISE_REDIS_PORT=6379

ARISE_GATEWAY_MAX_QUEUE=50000

PGHOST=localhost
PGPORT=5432
PGUSER=system
PGPASSWORD=system
PGDATABASE=arise-db

MONGO_URI=mongodb://localhost:27017

HEALER_BATCH_SIZE=100
HEALER_POLL_INTERVAL=5
